body {
  margin: 0;
  font-family: Avenir, ZCOOL KuaiLe, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.br-10 {
  border-radius:  10px 10px  0px 0px;
}

.logo img{
    transition: 300ms ease;
}
.logo:hover img {
  transform: rotate(20deg);
  
}